body {
		background-color: black;
}

h1 {
	text-align: center;
	font-family: asap, sans-serif;
	color: rgb(150,150,150);
	width: 500px;
	margin: auto;
	margin-top: 30px;
	margin-bottom: 20px;
}

p {
	text-align: center;
	font-family: asap, sans-serif;
	color: rgb(150,150,150);
	line-height: 1.2;
	width: 1280px;
	margin: auto;
	border-bottom: solid 2px rgb(150,150,150);
	padding: 10px 0px;
}

a:link, a:visited, a:hover {
	max-width: 350px;
	margin: auto;
	margin-top: 10px;
	font-family: asap, sans-serif;
	background-color: rgb(150,150,150);
	color: black;
	padding: 10px 25px;
	text-align: center;
	text-decoration: none;
}

a:active {
	background-color: black;
	color: rgb(150,150,150);
}