body {
		background-color: black;
}

h1 {
	text-align: center;
	font-family: vision;
	color: rgb(150,150,150);
	width: 500px;
	margin: auto;
	margin-top: 30px;
	margin-bottom: 10px;
}

p {
	text-align: center;
	font-family: vision;
	color: rgb(150,150,150);
	width: 1280px;
	margin: auto;
	margin-top: 25px;
	margin-bottom: 10px;
	border-bottom: 2px solid rgb(150,150,150);
	
}