body {
		background-color: black;
}

/*Header 1 Formatting*/
h1 {
	text-align: center;
	font-family: asap, sans-serif;
	color: rgb(150,150,150);
	width: 500px;
	margin: auto;
	margin-top: 30px;
	margin-bottom: 20px;
}

/*Normal Paragraph Formatting*/
p {
	text-align: center;
	font-family: asap, sans-serif;
	color: rgb(150,150,150);
	line-height: 1.2;
	width: 950px;
	margin: auto;
	border-bottom: solid 2px rgb(150,150,150);
	padding: 10px 0px;
}

/* Link Button Design */
a:link, a:visited, a:hover, a:active {
	max-width: 100px;
	margin: auto;
	margin-top: 10px;
	font-family: asap, sans-serif;
	background-color: rgb(150,150,150);
	color: black;
	padding: 10px 25px;
	text-align: center;
	text-decoration: none;
	display: block;
}

div {
	text-align: center;
	font-family: asap, sans-serif;
	color: rgb(150,150,150);
	line-height: 1.2;
	align-content: center;
	padding: 10px 0px;
}

/* Tri-Box Links */
.grid-container {
	display: grid;
	width: 950px;
	margin: auto;
	grid-template-columns: 300px 300px 300px;
	grid-gap: 25px;
	align-content: center;
	background-color; black;
	padding: 20px 0px;
}
.grid-container > div {   /*Specifies properties of the individual grid objects*/
	background-color: rgb(150,150,150);
	text-align: center;
	font-family: asap, sans-serif;
}

/* Nav Bar */
ul {
	list-style-type: none;
	width: 950px;
	padding: 0;
	overflow: hidden;
	border-bottom: none;
}
li {
	float: left;
	border-right: 1px solid black;
	align-content: center;
	margin:auto;
}
li:first-child {
	border-left: 10px solid black;
}
li:last-child {
	border-right: none;
}
div a:link, a:visited {
	display: block;
	padding: 10px 25px;
	color: black;
	background-color: rgb(150,150,150);
	text-decoration: none;
}
div a:hover {
	display: block;
	padding: 10px 25px;
	color: black;
	background-color: rgb(125,125,125);
	text-decoration: none;
}

/* Basic Header */
.header {
	background-color: rgb(150,150,150);
	text-align: center;
	padding: 10px;
	width: 950px;
}
h1.header {
	font-family: asap, sans-serif;
	font-size: 45px;
	color: black;
}

/* Basic Footer */
footer {
	background-color: rgb(150,150,150);
	text-align: center;
	width: 100%;
	padding: 10px 0px;
	color: black;
	font-size: 12px;
	font-family: asap, sans-serif;
}