/* Background Image */
body {
		background-image: linear-gradient(rgb(0,10,64), rgb(0,0,32));
		background-size: 1920px 1080px;
		background-clip: content-box;
		background-repeat: repeat-x;
}
@media only screen and (max-width:700px) {
	body {
		background-image: linear-gradient(rgb(0,10,64), rgb(0,0,32));
		background-size: 100% 1080px;
		background-clip: content-box;
		background-repeat: repeat-x;
	}
}

/*Normal Paragraph Formatting*/
p {
	text-align: center;
	font-family: asap, sans-serif;
	color: rgb(191,191,169);
	line-height: 1.2;
	width: 950px;
	margin: auto;
}

/* Nav Bar */
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	font-family: asap, sans-serif;
}
li {
	border-right: 1px solid rgb(0,10,64);
	align-content: center;
	margin: auto;
}
li:last-child {
	border-right: none;
}
div.links a:link, a:visited {
	display: block;
	padding: 10px 25px;
	color: rgb(0,10,64);
	background-color: rgb(191,191,169);
	text-decoration: none;
}
div.links a:hover {
	display: block;
	padding: 10px 25px;
	color: rgb(0,10,64);
	background-color: rgb(125,125,125);
	text-decoration: none;
}
/* Basic Header */
.header {
	background-color: rgba(0,10,64,0.0);
	text-align: center;
	width: 1330px;
	font-family: asap, sans-serif;
	color: rgb(191,191,169);
	margin: auto;
}
h1.header {
	font-family: asap, sans-serif;
	font-size: 60px;
	text-align: left;
	color: rgb(191,191,169);
	margin-top: -10px;
	margin-bottom: -5px;
	border-bottom: 2px solid rgb(191,191,169);
}
h2.header {
	font-family: asap, sans-serif;
	font-size: 35px;
	color: rgb(191,191,169);
	text-align: left;
	margin-top: 5px;
	margin-bottom: 0px;
}
h3.header {
	font-family: asap, sans-serif;
	font-size: 25px;
	font-style: italic;
	color: rgb(191,191,169);
	text-align: left;
	margin-bottom: 10px;
}
a img {
	-webkit-transition-duration: 0.3s; /* Safari */
	transition-timing-function: linear;
	opacity: 0.99999;
	border-radius: 5px; /* Rounds the image corners */
	transition-duration: 0.3s;
}
a img:hover {
	box-shadow: 0px 0px 15px 3px rgba(255,255,255,0.7);
	transition-duration: 0.3s;
}

.flexbox-mid {
	display: flex;
	width: 1330px;
	flex-direction: row;
	padding: 0px;
}

/* Basic Footer */
footer {
	background-color: rgb(191,191,169);
	text-align: center;
	width: 100%;
	padding: 10px 0px;
	color: rgb(0,10,64);
	font-size: 12px;
	position: fixed;
	left: 0px;
	bottom: 0px;
	font-family: asap, sans-serif;
}