/* Background Image */
body {
		background-image: linear-gradient(rgb(0,10,64), rgb(0,0,32));
		background-size: 1920px 1080px;
		background-clip: content-box;
		background-repeat: repeat-x;
}
@media only screen and (max-width:700px) {
	body {
		background-image: linear-gradient(rgb(0,10,64), rgb(0,0,32));
		background-size: 100% 1080px;
		background-clip: content-box;
		background-repeat: repeat-x;
	}
}

/*Normal Paragraph Formatting*/
p {
	text-align: center;
	font-family: asap, sans-serif;
	color: rgb(191,191,169);
	line-height: 1.2;
	width: 950px;
	margin: auto;
}

/* Link Button Design */
/* a:link, a:visited, a:hover, a:active {
	max-width: 100px;
	margin: auto;
	margin-top: 10px;
	font-family: asap, sans-serif;
	background-color: rgb(191,191,169);
	color: rgb(0,10,64);
	padding: 10px 25px;
	text-align: center;
	text-decoration: none;
	display: block;
} */

/* div {
	text-align: center;
	font-family: asap, sans-serif;
	color: rgb(191,191,169);
	line-height: 1.2;
	align-content: center;
	padding: 10px 0px;
} */

/* Nav Bar */
ul {
	list-style-type: none;
	width: 250px;
	margin: 0;
	padding: 0;
	overflow: hidden;
	font-family: asap, sans-serif;
}


div a:link, a:visited {
	display: block;
	padding: 10px 25px;
	color: rgb(0,10,64);
	background-color: rgb(191,191,169);
	text-decoration: none;
}
div a:hover {
	display: block;
	padding: 10px 25px;
	color: rgb(0,10,64);
	background-color: rgb(125,125,125);
	text-decoration: none;
}

/* Basic Header */
.header {
	background-color: rgba(0,10,64,0.0);
	text-align: center;
	width: 1330px;
	font-family: asap, sans-serif;
	color: rgb(191,191,169);
	margin: auto;
}
h1.header {
	font-family: asap, sans-serif;
	font-size: 60px;
	text-align: left;
	color: rgb(191,191,169);
	margin-top: -10px;
	margin-bottom: -5px;
	border-bottom: 2px solid rgb(191,191,169);
}
h2.header {
	font-family: asap, sans-serif;
	font-size: 35px;
	color: rgb(191,191,169);
	text-align: left;
	margin-top: 5px;
	margin-bottom: 0px;
}
h3.header {
	font-family: asap, sans-serif;
	font-size: 25px;
	font-style: italic;
	color: rgb(191,191,169);
	text-align: left;
	margin-bottom: 0px;
}

/* Basic Footer */
footer {
	background-color: rgb(191,191,169);
	text-align: center;
	width: 100%;
	padding: 10px 0px;
	color: rgb(0,10,64);
	font-size: 12px;
	position: fixed;
	left: 0px;
	bottom: 0px;
	font-family: asap, sans-serif;
}