/* Background Image */
body {
		background-image: linear-gradient(rgb(0,10,64), rgb(0,0,32));
		background-size: 1920px 3750px;
		background-clip: content-box;
		background-repeat: repeat-x;
}

/*Normal Paragraph Formatting*/
p {
	text-align: left;
	font-family: asap, sans-serif;
	color: rgb(191,191,169);
	line-height: 1.3;
	width: 900px;
	margin: auto;
}

/* Nav Bar */
ul {
	list-style-type: none;
	margin: auto;
	padding: 0;
	overflow: hidden;
	font-family: asap, sans-serif;
	width: 900px;
	background-color: rgb(0,10,64);
}
li {
	border-right: 2px solid rgb(191,191,169);
	border-top: 2px solid rgb(191,191,169);
	border-bottom: 2px solid rgb(191,191,169);
	align-content: center;
	margin: auto;
	float: left;
}
li:first-child {
	border-left: 2px solid rgb(191,191,169);
}
.links a:link, a:visited {
	display: block;
	padding: 10px 25px;
	color: rgb(191,191,169);
	background-color: rgb(0,10,64);
	text-decoration: none;
}
.links a:hover {
	display: block;
	padding: 10px 25px;
	color: rgb(191,191,169);
	background-color: rgb(125,125,125);
	text-decoration: none;
}
/* Basic Header */
.header {
	background-color: rgba(0,10,64,0.0);
	text-align: center;
	width: 900px;
	font-family: asap, sans-serif;
	color: rgb(191,191,169);
	margin: auto;
}
h1.header {
	font-family: asap, sans-serif;
	font-size: 60px;
	text-align: left;
	color: rgb(191,191,169);
	margin-top: -10px;
	margin-bottom: -5px;
}
h2.header {
	font-family: asap, sans-serif;
	font-size: 35px;
	color: rgb(191,191,169);
	text-align: left;
	margin-top: 5px;
	margin-bottom: 0px;
	border-top: 2px solid rgb(191,191,169);
}
h3.header {
	font-family: asap, sans-serif;
	font-size: 25px;
	font-style: italic;
	color: rgb(191,191,169);
	text-align: left;
	margin-bottom: 10px;
}
a img {
	opacity: 0.99999;
	border-radius: 5px; /* Rounds the image corners */
	margin-right: 20px;
	margin-bottom: 5px;
}
a img:hover {
	box-shadow: 0px 0px 15px 3px rgba(255,255,255,0.7);
	transition-timing-function: linear;
	transition-duration: 0.3s;
	-webkit-transition-duration: 0.3s; /* Safari */
}

.flexbox-mid {
	display: flex;
	width: 900px;
	flex-direction: row;
	padding: 0px;
}

/* Basic Footer */
footer {
	background-color: rgb(191,191,169);
	text-align: center;
	width: 100%;
	padding: 10px 0px;
	color: rgb(0,10,64);
	font-size: 12px;
	position: fixed;
	left: 0px;
	bottom: 0px;
	font-family: asap, sans-serif;
}